header {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  justify-content: center;
  padding: 2em 0em;
  top: 0;
  box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
}

.barra-arriba {
  justify-content: flex-end;
  width: 100%;
  max-width: 1100px;
}

.li-header {
  margin: 0em 1em;
}

.botones-header {
  padding: 5px 10px;
  font-size: 17px;
}

.botones-header:active {
  border-radius: 25px;
  box-shadow: 0px 0px 7px 0px #982ac3;
}

.colorAncla {
  color: #2e2e31;
}

.colorAncla:hover {
  color: #982ac3;
}

.colorContacto {
  color: #fff;
}
