/* SECCION PRESENTACION */
.seccion-presentacion {
  padding: 10.5em 3em;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.hola {
  font-size: 31px;
  margin-bottom: 3px;
}

.nombre {
  font-size: 50px;
  margin-bottom: 30px;
  color: #a86ac1;
}

.texto {
  font-size: 17px;
  margin-bottom: 40px;
}

/* SECCION DE CONOCIMIENTOS */
.seccion-conocimientos {
  padding: 9em 2em;
  background-color: #f6f7fb;
}
.conocimientos {
  align-items: center;
}

.parrafo-conocimientos {
  max-width: 400px;
  text-align: center;
  margin: 2em 0em;
  font-size: 17px;
}

.titulo-conocimientos {
  font-size: 40px;
  font-weight: 800;
}

.lista-conocimientos {
  justify-content: center;
  margin-top: 1em;
  width: 100%;
  max-width: 1100px;
}

.card-conocimiento {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dddfe5;
  border-radius: 10px;
  width: 260px;
  padding: 2.5em;
  margin: 1em;
  cursor: pointer;
  transition-duration: 0.3s;
}

.card-conocimiento:hover {
  border: 1px solid #982ac3;
  transition-duration: 0.3s;
}

.imagen-conocimientos {
  width: 70px;
  margin: 0.5em 0em;
}

.conocimiento {
  margin: 0.5em 0em;
  transition-duration: 0.3s;
}

.card-conocimiento:hover .conocimiento {
  color: #982ac3;
  transition-duration: 0.3s;
}

/* LOREM */

.seccion-lorem {
  justify-content: center;
  padding: 6em 0em;
  background-color: #982ac3;
}

.lorem {
  width: 100%;
  max-width: 1100px;
  align-items: center;
}

.texto-lorem {
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  margin: 4em 0em;
  text-align: center;
  width: 800px;
}

/* SECCION PROYECTOS */

.seccion-proyectos {
  justify-content: center;
  padding: 7em 2em;
  background-color: #ffffff;
}

.proyectos {
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

.lista-proyectos {
  margin-top: 1em;
}

.card-proyectos {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dddfe5;
  border-radius: 10px;
  width: 29%;
  padding: 22px;
  margin: 22px;
  cursor: pointer;
  transition-duration: 0.3s;
  justify-content: space-between;
}

.imagen-proyectos {
  width: 100%;
}

.proyecto {
  margin: 1em 0em;
  transition-duration: 0.3s;
}

/* SECCION CONTACTO */

.seccion-contactar {
  padding: 130px 50px;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fb;
}

.centro {
  justify-content: center;
  background-color: #ffffff;
  width: 90%;
  padding: 70px 50px;
}

.circulo-contacto {
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 8px;
  margin-right: 10px;
}

.lista-contacto {
  margin: 40px 0px;
}

.boton-contacto {
  align-items: center;
  color: #000;
}

.boton-contacto:hover {
  color: #982ac3;
}

.boton-contacto:hover .circulo-contacto {
  background-color: #a86ac1;
}

.contacto {
  margin: 10px 0px;
}

h1 {
  margin-bottom: 0.8em;
}

.espacio-input {
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

input {
  padding: 10px 15px;
  border-radius: 20px;
  border: transparent;
  background-color: #f6f7fb;
  outline: none;
  font-size: 16px;
  outline: none;
  transition-duration: 0.3s;
}

input:focus {
  transition-duration: 0.3s;
  box-shadow: 0px 0px 7px 0px #982ac3;
}

input:valid,
textarea:valid {
  border: 1px solid #88c459;
  /* box-shadow: 0px 0px 7px 0px #88c459; */
}

/* input:invalid {
  box-shadow: 0px 0px 7px 0px red;
} */

textarea {
  padding: 15px;
  border-radius: 20px;
  border: transparent;
  background-color: #f6f7fb;
  outline: none;
  font-size: 16px;
  outline: none;
  transition-duration: 0.3s;
}

textarea:focus {
  transition-duration: 0.3s;
  box-shadow: 0px 0px 7px 0px #982ac3;
}

@media screen and (max-width: 1040px) {
  .centro {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .campos {
    flex-direction: column;
  }
}
