* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.columna {
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 5.2em;
}

.boton {
  padding: 0.5em 1.5em;
  border-radius: 25px;
  font-size: 17px;
  background-color: #982ac3;
  border: transparent;
  color: #fff;
}

.boton:hover {
  background-color: #982ac3;
  opacity: 0.7;
  transition: 0.4s;
}

.espacio {
  padding: 0.8em 2em;
}

.redes {
  width: 20px;
}

.letra-grande {
  font-size: 40px;
}

.mitad-contenido {
  width: 50%;
}

@media screen and (max-width: 900px) {
  .mitad-contenido {
    width: 100%;
  }
}
